<div id="<%= dom_id message %>">
  <p>
    <strong>Sender:</strong>
    <%= message.sender.name %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= message.recipient.name %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= message.created_at.strftime("%b %-d, %Y at %l:%M %P") %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

</div>
