<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Leader:</strong>
    <%= group.leader.name %>
  </p>

  <p>
    <strong>Number of members:</strong>
    <%= group.enrollments_count %>
  </p>

  <% if policy(group).show_members? %>
    <p>
      <strong>Members:</strong>
      <% group.members.each do |member| %>
        <p><%= member.name %></p>
      <% end %>
    </p>
  <% end %>
</div>
