<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header">
        Your upcoming events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% next if group.upcoming_events.count == 0 %>
            <div class="fw-bold">
              <%= link_to "#{group.name}", group %>
            </div>
          <% group.upcoming_events.each do |event| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to "#{event.name}", event %>
              in <%= time_ago_in_words(event.ends_at) %>
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Your past events:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
        <% @user.membership_groups.each do |group| %>
          <% next if group.past_events.count == 0 %>
            <div class="fw-bold">
              <%= link_to "#{group.name}", group %>
            </div>
          <% group.past_events.each do |event| %>
            <li class="list-group-item list-group-item-action">
              <%= link_to "#{event.name}", event %>
              <%= time_ago_in_words(event.ends_at) %> ago
            </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="card-body">
      <%= link_to "Create a new event", new_event_path(Event.new) %>
      <!---would prefer rendering form here: render "events/form", event:Event.new --->
    </div>
  </div>
</div>
