<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <div class="mb-2">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <%= link_to "My events", my_events_path(@user.slug), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My messages", my_messages_path(@user.slug), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My calendar", my_calendar_path(@user.slug), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My groups", my_groups_path(@user.slug), class: "nav-link active" %>
        </li>
      </ul>
    </div>

    <%= render "users/groups", user: @user %>

    <% if policy(@user).show_create_link? %>
      <div class="btn btn-outline-secondary btn-block">
            <%= link_to "Create a new group", new_group_path(Group.new) %>
      </div>
    <% end %>
  </div>
</div>
