<div class="row mb-4">
  <div class="col-md-6 offset-md-3">

      <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "My events", my_events_path(@user.name), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My groups", my_groups_path(@user.name), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My messages", my_messages_path(@user.name), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My calendar", my_calendar_path(@user.name), class: "nav-link" %>
      </li>
    </ul>

    <h1>Users</h1>

    <div id="users">
      <% @users.each do |user| %>
        <%= render "users/user", user: user %>
          <%= link_to "Show this user", user.name %>
      <% end %>
    </div>
  </div>
</div>
