<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "My events", my_events_path(@user.slug), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My messages", my_messages_path(@user.slug), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My calendar", my_calendar_path(@user.slug), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My groups", my_groups_path(@user.slug), class: "nav-link" %>
      </li>
    </ul>
    <div>
      <%= render @user %>
      <%= render "users/groups", user: @user %>
      <div class="mt-3">
        <% if policy(@user).update? %>
          <h6>Update Avatar</h6>
            <%= form_with model: @user, url: user_path(@user.slug), method: :post, local: true do |form| %>
              <div class="d-flex align-items-center justify-content-between">
                <div class="form-inputs">
                  <%= form.file_field :avatar %>
                </div>
                <button type="submit" class="btn btn-outline-secondary btn-block">
                  <%= form.submit %>
                </button>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="mt-2">
      <%= link_to "Back to directory", directory_path(@user.slug), class: "nav-link" %>
    </div
  </div
</div>
