<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render @user %>
    <div class="card">
      <div class="card-header">
        <%= @user.name %> leads these groups:
      </div>
      <ul class="list-group list-group-flush">
      <% @user.groups_they_lead.each do |group| %>
        <li class="list-group-item"><%= group.name %></li>
      <% end %>
      </ul>
    </div>
    <div class="card">
      <div class="card-header">
        <%= @user.name %> is also a member of these groups:
      </div>
      <ul class="list-group list-group-flush">
      <% @user.membership_groups.each do |group| %>
        <li class="list-group-item"><%= group.name %></li>
      <% end %>
      </ul>
    </div>
    <div class="card-body">
          <%= render "messages/form", message: Message.new(recipient_id: @user.id) %>
    </div>
  </div>
</div>
