<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= event.group.name %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= event.starts_at.strftime("%b %-d %l:%M %P") %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= event.ends_at.strftime("%b %-d %l:%M %P") %>
  </p>

    <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= event.notes %>
  </p>

</div>
