
<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "My events", my_events_path(current_user.name) %> |
  <%= link_to "My calendar", my_calendar_path(current_user.name) %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
